<!DOCTYPE html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>VueJS</title>
	<script src="../vue.js"></script>
</head>

<body>
	<div id="app">
		<h1 v-once>{{ title }}</h1>
		<p>{{ sayHello() }} - <a v-bind:href="link">Google</a></p>
		<hr>
		<p v-html="finishedLink"></p>
		<hr>
		<button v-on:click="increase(2, $event)">Click me</button>
		<button v-on:click="counter++">Click me</button>
		<p>{{ counter * 2 > 10 ? 'Greater than 10' : 'Smaller than 10' }}</p>
		<p v-on:mousemove="updateCoordinate">
			Coordinates: {{ x }} / {{ y }}
			- <span v-on:mousemove.stop="">DEAD SPOT</span>
		</p>
		<input type="text" v-on:keyup.enter="alertMe">
		<hr>
		<input type="text" v-model="name">
		<p>{{ name }}</p>
		<hr>
		<button v-on:click="counter++">Increase</button>
		<button v-on:click="counter--">Decrease</button>
		<button v-on:click="secondCounter++">Increase Second</button>
		<p>Counter: {{counter}} | {{ secondCounter }}</p>
		<p>Result: {{ result() }} | {{ output }}</p>
		<hr>
		<button @click="changeLink">Click to Change Link</button>
		<a :href="link">Link</a>
		<hr>
		<div class="demo" @click="attachRed = !attachRed" :class="divClasses" :style="{backgroundColor: color}"></div>
		<div class="demo" :class="{red: attachRed}" :style="myStyle"></div>
		<div class="demo" :class="[color, {red: attachRed}]" :style="[myStyle, {height: width + 'px'}]"></div>
		<br>
		<input type="text" v-model="color">
		<input type="text" v-model="width">
		<hr>
		<p v-if="show">You can see me! <span>Hello!</span></p>
		<template v-if="show">
			<h1>Heading</h1>
			<p>Inside a template</p>
		</template>
		<p v-else>Now you see me!</p>
		<p v-show="show">Do you also see me?</p>
		<button @click="show = !show">Switch</button>
	</div>
	<script>
		new Vue({
			el: '#app',
			data: {
				title: 'Hello World',
				link: 'https://google.com',
				finishedLink: '<a href="https://google.com">Google</a>',
				counter: 0,
				x: 0,
				y: 0,
				name: 'Fabrizio',
				secondCounter: 0,
				attachRed: false,
				color: 'green',
				width: 100,
				show: true
			},
			computed: {
				output: function () {
					console.log('Computed');
					return this.counter > 5 ? 'Greater than 5' : 'Smaller than 5';
				},
				divClasses: function () {
					return {
						red: this.attachRed,
						blue: !this.attachRed
					};
				},
				myStyle: function () {
					return {
						backgroundColor: this.color,
						width: this.width + 'px'
					};
				}
			},
			watch: {
				counter: function (value) {
					var vm = this;
					setTimeout(function () {
						vm.counter = 0;
					}, 2000);
				}
			},
			methods: {
				sayHello: function () {
					this.title = 'Hello!';
					return this.title;
				},
				increase: function (step, event) {
					this.counter += step;
				},
				updateCoordinate: function (event) {
					this.x = event.clientX;
					this.y = event.clientY;
				},
				alertMe: function () {
					alert('Alert!');
				},
				result: function () {
					console.log('Method');
					return this.counter > 5 ? 'Greater than 5' : 'Smaller than 5';
				},
				changeLink: function () {
					this.link = 'https://apple.com';
				}
			}
		})
	</script>
	<style>
		.demo {
			width: 100px;
			height: 100px;
			background-color: grey;
			display: inline-block;
			margin: 10px;
		}

		.red {
			background-color: red;
		}

		.blue {
			background-color: blue;
		}

		.green {
			background-color: green;
		}
	</style>
</body>

</html>